/* Contents */

.mecha-navbar {
    background-color: #ff9ba7;
}

.mecha-link {
    color: #121212;
}

.mecha-navbar .mecha-link {
    color: #fcfcfc;
}

.mecha-link img {
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.mecha-link img:hover {
    opacity: 0.7;
}

.mecha-link:hover {
    text-decoration: none;
}

.mecha-navbar-brand {
    color: #fcfcfc;
}

.mecha-image {
    width: 100%;
}

.mecha-carousel img {
    width: 100%;
    height: 400px;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
}

.mecha-section-head {
    padding-left: 10px;
    border-left: solid 10px #ff9ba7;
}

.mecha-card {
    border: none;
}

.mecha-card-body {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 0;
}

.mecha-article-new {
    display: block;
    color: #fa5151;
}

.mecha-article-image {
    width: 100%;
    height: 180px;
}

.mecha-article-summary {
    margin-top: auto;
}

@media screen and (max-width:991px) {
    .mecha-twitter iframe {
        max-height: 300px;
    }
}

.mecha-footer {
    height: 56px;
    width: 100%;
    background-color: #ff9ba7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mecha-footer-content {
    color: #fcfcfc;
}

/* Utils */
.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}
